version: '3'

services:
  ach:
    image: moov/ach:v1.31.3
    ports:
      - "8080:8080"
    networks:
      - intranet

  example:
    image: moov/ach-node-example:latest
    depends_on:
      - ach
    networks:
      - intranet

networks:
  intranet:
